<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://graduationprojectwebservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>graduationprojectwebservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>graduationprojectwebservice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$graduationprojectwebservice</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GRADUATIONEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=GraduationProject.mssql.somee.com;Initial Catalog=GraduationProject;Persist Security Info=True;User ID=ozanyilmaz28_SQLLogin_1;Password=fyduc8ftci;Application Name=EntityFramework" Name="Data Source=GraduationProject.mssql.somee.com;Initial Catalog=GraduationProject;Persist Security Info=True;User ID=ozanyilmaz28_SQLLogin_1;Password=fyduc8ftci;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=GraduationProject.mssql.somee.com;Initial Catalog=GraduationProject;Persist Security Info=True;User ID=ozanyilmaz28_SQLLogin_1;Password=fyduc8ftci;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GRADUATIONEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Entity.GraduationEntity.csdl|res://*/Entity.GraduationEntity.ssdl|res://*/Entity.GraduationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GraduationProject.mssql.somee.com;initial catalog=GraduationProject;persist security info=True;user id=ozanyilmaz28_SQLLogin_1;password=fyduc8ftci;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GRADUATIONEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entity.GraduationEntity.csdl|res://*/Entity.GraduationEntity.ssdl|res://*/Entity.GraduationEntity.msl;provider=System.Data.SqlClient;provider connection string="data source=GraduationProject.mssql.somee.com;initial catalog=GraduationProject;persist security info=True;user id=ozanyilmaz28_SQLLogin_1;password=fyduc8ftci;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>